### Heroes Of Pymoli Data Analysis

-----
* Of the 576 active players, the vast majority are male (84%), however the proportion of female players (14%) is notable.
* Average spending per person is marginally higher for female players (4.47USD) compared to 4.07USD for male players. 
* The vast majority of players are between the ages of 20-24 (44.8%), followed by 15-19 year olds (18.60%) and 25-29 year olds (13.4%).
* Average spending is highest for 35-39 year olds 4.76USD, followed by 4.54USD for the under 10 age group and 4.32USD for 20-24 year olds.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [32]:
players_df = pd.DataFrame(purchase_data.drop_duplicates(subset = 'SN'))
total_players = players_df['Age'].count()
#purchase_data['SN'].count()
example_dict = {'Total Players': [total_players]}
total_df = pd.DataFrame(example_dict)
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
purchase_data.describe()
purchase_data['Item Name'].value_counts()
purchase_data['Price'].sum()

2379.77

In [34]:
purchase_analysis = {'Number of Unique Items': [179], 'Average Price': ['$3.05'], 'Number of Purchases': [780], 'Total Revenue': ['$2379.77']}
purchase_a_total = pd.DataFrame(purchase_analysis)
purchase_a_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
demo_df = players_df.groupby('Gender')
players_df_gender = demo_df['Gender'].count() # count F = 81, M = 484, O = 11
#print(players_df_gender)
percent_F = players_df[players_df['Gender'] == 'Female'].shape[0] / players_df.shape[0] * 100
#print(percent_F)
percent_M = players_df[players_df['Gender'] == 'Male'].shape[0] / players_df.shape[0] * 100
#print(percent_M)
percent_O = 100 - percent_M - percent_F
#print(percent_O)

gender_demo = {'Total Count': [81, 484, 11], 'Percentage of Players': [percent_F, percent_M, percent_O]}
gender_demographics = pd.DataFrame(gender_demo, index = ['Female', 'Male', 'Other/Non-disclosed'])
gender_demographics.round(decimals=2)

                     Total Count  Percentage of Players
Female                        81                  14.06
Male                         484                  84.03
Other/Non-disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# create copy of dataframe grouped by Gender
gender_analysis_df = purchase_data.groupby('Gender')
# get a count of total number of purchases by gender
gender_purchase_ct = gender_analysis_df['Purchase ID'].count() #113, 652 15
gender_avg_price = gender_analysis_df['Price'].mean() #$3.20 $3.02 $3.35
gender_purchase_val = gender_analysis_df['Price'].sum() # $361.94 $1967.64 $50.19
avg_per_person_gender = gender_purchase_val / players_df_gender # $4.47 $4.07 $4.56

purchase_analysis_gender = {'Purchase Count':[113, 652, 15], 
                           'Average Purchase Price': ['$3.20', '$3.02', '$3.35'],
                           'Total Purchase Value': ['$361.94','$1967.64', '$50.19'], 
                           'Avg Total Purchase per Person': ['$4.47', '$4.07', '$4.56']}
purchase_demographics = pd.DataFrame(purchase_analysis_gender, index = ['Female', 'Male', 'Other/Non-disclosed'])
purchase_demographics.round(decimals=2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
# create bins and bin labels for age column
players_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

players_labels = ['<10','10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# bin the age column
age_range = pd.cut(players_df['Age'], players_bins, labels = players_labels)
# assign it as a new column in the dataframe
players_df.loc[:, 'Age Range'] = pd.Series(age_range, index=players_df.index) 
# create series that shows the count of players by age
players_age_count = pd.Series(players_df.groupby('Age Range')['Age'].count())
# remember you calculated total players earlier

# calculate percentage of players in each age range
players_age_percentage = pd.Series(players_age_count / total_players * 100)
# create a dictionary with the two series
age_demo= {'Total Count': players_age_count, 'Percentage of Players': players_age_percentage}
# concat the two series into a new dataframe
age_demo_df = pd.concat(age_demo,
                       axis =1)
# round the decimals for ease of reading
age_demo_df.round(decimals=2)

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
# column headers: 'Purchase Count', 'Average Purchase Price' 'Total Purchase Value', 'Avg Total Purchase per Person'
#create a new dataframe to manipulate
age_purchases_df = pd.DataFrame(purchase_data)
# create bins and bin labels for age column
players_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
players_labels = ['<10','10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# bin the age column
age_range_all = pd.cut(purchase_data['Age'], players_bins, labels = players_labels)
# assign it as a new column in the dataframe
age_purchases_df.loc[:, 'Age Range'] = pd.Series(age_range_all, index=age_purchases_df.index) 
# create series for purchase count
age_purchase_count = pd.Series(age_purchases_df.groupby('Age Range')['Purchase ID'].count())
# create series for avg purchase price
age_avg_price = pd.Series(age_purchases_df.groupby('Age Range')['Price'].mean())
# create series for total purchase value
age_total_val = pd.Series(age_purchases_df.groupby('Age Range')['Price'].sum())
# create series for avg total per person
age_avg_total = pd.Series(age_total_val / players_age_count)
# create a dictionary with the series
age_analysis = {'Purchase Count': age_purchase_count,
               'Average Purchase Price(USD)': age_avg_price,
               'Total Purchase Value(USD)': age_total_val,
               'Avg Total Purchase per Person(USD)': age_avg_total}
# concat the series to create a new dataframe
age_analysis_df = pd.concat(age_analysis, axis = 1)
age_analysis_df.style.format({'Average Purchase Price(USD)': '${:.2f}', 
                              'Total Purchase Value(USD)': '${:.2f}', 
                              'Avg Total Purchase per Person(USD)': '${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
spenders_df = pd.DataFrame(purchase_data)


# create series for purchase count
spend_purchase_count = pd.Series(spenders_df.groupby('SN')['Purchase ID'].count())

# create series for avg purchase price
user_avg_price = pd.Series(spenders_df.groupby('SN')['Price'].mean())
# create series for total purchase value
user_total_val = pd.Series(spenders_df.groupby('SN')['Price'].sum())
# create a dictionary of series
user_spending = {'Purchase Count': spend_purchase_count,
                'Average Purchase Price(USD)': user_avg_price,
                'Total Purchase Value(USD)': user_total_val}
# create the new dataframe by concatenating the series
top_spenders_df = pd.concat(user_spending, axis =1)
# sort the dataframe by purchase value
top_spenders_sorted_df = top_spenders_df.sort_values('Total Purchase Value(USD)', ascending=False)
# show just the top 5 spenders
top_spenders_sorted_df.head().style.format({'Average Purchase Price(USD)': '${:.2f}', 
                              'Total Purchase Value(USD)': '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
# Purchase count, Item Price, Total Purchase Value sorted by purchase count
popular_df = pd.DataFrame(purchase_data)

# create series for purchase count
pop_purchase_count = pd.Series(popular_df.groupby(['Item ID', 'Item Name'])['Purchase ID'].count())
# create series for purchase price since each item only has one price min or max should work
item_price = pd.Series(popular_df.groupby(['Item ID', 'Item Name'])['Price'].min())
# create series for total purchase value
pop_total_val = pd.Series(popular_df.groupby(['Item ID', 'Item Name'])['Price'].sum())

# create a dictionary with the series
pop_analysis = {'Purchase Count': pop_purchase_count,
               'Item Price(USD)': item_price,
               'Total Purchase Value(USD)': pop_total_val}
# concat the series to create a new dataframe
pop_analysis_df = pd.concat(pop_analysis, axis = 1)
# sort the dataframe by purchase count
pop_analysis_sorted_df = pop_analysis_df.sort_values('Purchase Count', ascending=False)
# show just the top 5 most popular
pop_analysis_sorted_df.head().style.format({'Item Price(USD)': '${:.2f}', 
                              'Total Purchase Value(USD)': '${:.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
# sort the data frame by purchase value
pop_analysis_profit_df = pop_analysis_df.sort_values('Total Purchase Value(USD)', ascending=False)
# show just the top 5 most profitable
pop_analysis_profit_df.head().style.format({'Item Price(USD)': '${:.2f}', 
                              'Total Purchase Value(USD)': '${:.2f}'})