#### improve decision tree from class

In [2]:
import pandas as pd
from sklearn import tree
from sklearn.metrics import confusion_matrix, classification_report, plot_confusion_matrix
import pydotplus

from IPython.display import Image

diabetes_df = pd.read_csv("../diabetes.csv")
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = diabetes_df.drop('Outcome', axis=1)
y = diabetes_df['Outcome']

# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42, stratify=y)

#Standardize
sc= StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [4]:
# decision tree classifier
model = tree.DecisionTreeClassifier(max_depth = 10,random_state=42)

In [5]:
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [6]:
print('In class output')
print(classification_report(y_test, y_pred))

In class output
              precision    recall  f1-score   support

           0       0.75      0.81      0.78       100
           1       0.59      0.50      0.54        54

    accuracy                           0.70       154
   macro avg       0.67      0.66      0.66       154
weighted avg       0.69      0.70      0.70       154

#### Improved accuracy, precision and recall with random oversampling, in addition to a manipulation of the min_samples_split

I tried using feature selection and then oversampling but the results were worse
I also tried manipulating the max features parameter but the results were worse

In [58]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled= ros.fit_resample(X_train, y_train)

In [65]:
# decision tree classifier
my_model = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split=50, random_state=42)

my_model = my_model.fit(X_resampled, y_resampled)
y_pred = my_model.predict(X_test)

print('Assignment output')
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))
#print(classification_report(y_test, y_pred))

Assignment output
                   pre       rec       spe        f1       geo       iba       sup

          0       0.86      0.79      0.76      0.82      0.77      0.60       100
          1       0.66      0.76      0.79      0.71      0.77      0.60        54

avg / total       0.79      0.78      0.77      0.78      0.77      0.60       154

#### Create a function that accepts name array and returns a string formatted as a list of names separated by commas except for the last two names which are separated by an ampersand

My function is a bit clunky but it works

In [98]:
name_array = [{'name': 'Nichole'}, {'name': 'Tanisha'}, {'name': 'Maggie'}]


def name_func(names):
    """create a function that return a list of names in a string format with commas separating 
    all names except the last two which are separated by an &"""
    name_list = []
    for pair in names:
        for val in pair.values():
            name_list.append(val)
            #print(name_list)
            
    sliced_list = name_list[:-2]
    final_list = []
    
    for name in sliced_list:
        name = name + ','
        if name not in final_list:
            final_list.append(name)
    final_list.append(name_list[-2])        
    final_list.append('&')
    final_list.append(name_list[-1])
    return str(' '.join(final_list))
    return final_list

In [99]:
name_func(name_array)

'Nichole, Tanisha & Maggie'

In [100]:
more_names_array = [{'name': 'Nichole'}, {'name': 'Tanisha'}, {'name': 'Maggie'}, {'name': 'Sally'}, {'name': 'Annie'}]

In [101]:
name_func(more_names_array)

'Nichole, Tanisha, Maggie, Sally & Annie'