# Question 1

In [90]:
import numpy as np

In [147]:
def dot_product(v1, v2):
    try:
        products = []
        for i in range(len(v1)):
            products.append(v1[i] * v2[i])
        return sum(products)
    except ValueError:
        print('Try transposing one of the vectors')
    except:
        print('something else went wrong')
            
    
def cross_product(v1, v2):
    try:
        cross = np.array([(v1[1]*v2[2]) - (v1[2]*v2[1]),(v1[2]*v2[0])-(v1[0]*v2[2]),(v1[0]*v2[1])-(v1[1]*v2[0])])
        return cross
    except:
        print('something went wrong')

In [148]:
v = np.array([[1],[2],[3]])
v2 = np.array([[-1],[-2],[-3]])
v3 = np.array([[5],[6]])
v4 = np.array([[1],[1]])
a = np. array([[6],[-2],[-1]])
b = np.array([[2],[5],[2]])
c = np.array([[2],[3],[4]])
d = np.array([[5],[6],[7]])

In [219]:
dot_product(a, b)

array([-14])

In [220]:
cross_product(c, d)

array([[-3],
       [ 6],
       [-3]])

# Question 2

### why one-hot encoding
Because one hot encoding creates a binary vector, it is useful in making sure that if the things you're encoding are of equal value the computer doesn't weigh one more than the other. So for example if male is [0,1] and female is [1,0] then as it looks at a lot of data they will still be weighted the same.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_to_load = 'belize_airbnb_listings.csv'

In [3]:
belize_df = pd.read_csv(data_to_load)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [207]:
grouped_df = pd.DataFrame(belize_df['neighbourhood_group'].value_counts())
#assign a name to the index
grouped_df.index.name = 'neighborhood'
# create a new dataframe from the old dataframe with a reset index (so index is 0,1,2,...)
new_df = grouped_df.reset_index()

neighborhood_list = new_df['neighborhood'].tolist()
neighborhood_list

['Belize', 'Stann Creek', 'Cayo', 'Corozal', 'Toledo', 'Orange Walk']

In [218]:
# define a mapping of groups to integers
group_to_int = dict((group, i) for i, group in enumerate(neighborhood_list))
int_to_group = dict((i, group) for i, group in enumerate(neighborhood_list))
# encode integers
integer_encoded = [group_to_int[group] for group in neighborhood_list]
# one hot encode
# create an empty list
one_hot_encoded = list()
# write a for loop that will create a list of 0s and one 1 for each group in the integer_encoded list
for value in integer_encoded:
    neighbor = [0 for _ in range(len(neighborhood_list))]
    neighbor[value] = 1
    one_hot_encoded.append(neighbor)
print(one_hot_encoded)

[[1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1]]