## 1

In [103]:
import pandas as pd

In [102]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
positive_list =[]
negative_list =[]


def new_numbers(x):
    for n in x:
        if n >0:
            positive_list.append(n)
        else:
            negative_list.append(n)
    new_list = sorted(negative_list)
    return positive_list + negative_list
               

resulting_list = list(map(lambda x: x, new_numbers(original_list)))
resulting_list
# I think this works because new_numbers(original_list) has to be my input and x is my function
# when I tried to run it like this: resulting_list = list(map(lambda x: new_numbers(original_list), original_list))
# I would get my list repeated for every element of original_list

[2, 4, 6, 8, 10, 12, -1, -3, -5, -7, -9, -11]

## 2

In [69]:
#Handy imports from class

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import plotly.express as px
from scipy import signal

# also imported time to track efficiency
import time

temp_df = pd.read_csv('../week_11/archive/temperature.csv')

In [70]:
temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847790,287.231672,307.391513,304.281841,310.411538,304.4,304.4,303.5
4,2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [76]:
freezing_df = temp_df[['datetime', 'Vancouver']].copy()
freezing_df.head()

# the freezing point in Kelvin is 273.15

              datetime   Vancouver
0  2012-10-01 12:00:00         NaN
1  2012-10-01 13:00:00  284.630000
2  2012-10-01 14:00:00  284.629041
3  2012-10-01 15:00:00  284.626998
4  2012-10-01 16:00:00  284.624955

In [80]:
freezing_df['is_freezing'] = freezing_df.apply(lambda temp: temp['Vancouver'] < 273.15, axis=1)
freezing_df.head()

              datetime   Vancouver  is_freezing
0  2012-10-01 12:00:00         NaN        False
1  2012-10-01 13:00:00  284.630000        False
2  2012-10-01 14:00:00  284.629041        False
3  2012-10-01 15:00:00  284.626998        False
4  2012-10-01 16:00:00  284.624955        False

Lambda works really well for this since it applies to every row in the column. But you could also do it like the below code. Lambda would be more useful perhaps if the code was more complicated or if you wanted to apply a function.

In [105]:
freeze_test = freezing_df['Vancouver'] < 273.15
freezing_df['Freezing'] = freeze_test
freezing_df.head()

              datetime   Vancouver  is_freezing  Freezing
0  2012-10-01 12:00:00         NaN        False     False
1  2012-10-01 13:00:00  284.630000        False     False
2  2012-10-01 14:00:00  284.629041        False     False
3  2012-10-01 15:00:00  284.626998        False     False
4  2012-10-01 16:00:00  284.624955        False     False