# Homework

In [72]:
#Handy imports from class

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import plotly.express as px
from scipy import signal

temp_df = pd.read_csv('archive/temperature.csv')

In [73]:
temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847790,287.231672,307.391513,304.281841,310.411538,304.4,304.4,303.5
4,2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [4]:
pd.__version__

'1.2.4'

In [90]:
temp_df['Vancouver'].dtypes

dtype('float64')

### 1. Write a function that efficiently converts every column to a different temperature scale

In [96]:
# formula to convert Kelvin to Fahrenheit (0K − 273.15) × 9/5 + 32 = -459.7°F or (xK -273.15) * (9/5) + 32 = F
new_df = temp_df.copy()
def convert_temp(x):
    return (x-273.15)* 9/5 + 32

    
def now_Kelvin(df):
    for i,v in df.columns:
        df[v] = df.apply(lambda x: convert_temp(x[v]), axis =1)
    return df

now_Kelvin(new_df)
#def convert_temp(df = pd.DataFrame([[1, 1], [3, 4]])):
    #cities = pd.Series(df.columns)
    
#new_df =df
#new_df['Vancouver']=df.apply(lambda x: convert_temp(x['Vancouver']),axis=1)

#new_df.head()

# applymap doesn't work because applymap uses the newer np.na which only works with int, bool, and the dedicated string datatype

ValueError: too many values to unpack (expected 2)

In [74]:
# this works, but it's not efficient
def convert_temp(x):
    return (x-273.15)* 9/5 + 32

cities = list(df.columns)
fahr_df = temp_df


def new_temp(df):
# the for loop is slow but I had trouble getting other things to move faster
    for city in cities:
        if city == 'datetime':
            continue
    #for label, content in df.items:
        df[city] = df.apply(lambda x: convert_temp(x[city]),axis=1)
    return(df)

In [75]:
new_temp(fahr_df)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,96.710000,NaN,NaN,NaN
1,2012-10-01 13:00:00,52.664000,48.074000,61.394000,47.570000,65.696000,65.084000,68.468000,74.210000,53.546000,...,54.464000,59.126000,54.824000,57.236000,93.992000,90.176000,99.374000,88.25,88.25,86.63
2,2012-10-01 14:00:00,52.662274,48.079854,61.384987,47.564990,65.692734,65.090302,68.455654,74.225315,53.608205,...,54.523774,59.175817,54.832370,57.264966,93.992000,88.088000,99.222385,88.25,88.25,86.63
3,2012-10-01 15:00:00,52.658596,48.095360,61.359113,47.551699,65.683120,65.108039,68.435919,74.266677,53.751113,...,54.692283,59.318491,54.856021,57.347009,93.634723,88.037314,99.070769,88.25,88.25,86.63
4,2012-10-01 16:00:00,52.654918,48.110866,61.333238,47.538407,65.673506,65.125777,68.416183,74.308039,53.894021,...,54.860793,59.461166,54.879672,57.429052,93.191359,87.958426,98.919154,88.25,88.25,86.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,47.930000,NaN,45.806000,68.720000,66.200000,61.502000,70.808000,54.626000,...,62.762000,NaN,35.564000,58.874000,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,49.532000,NaN,47.300000,72.554000,67.262000,63.428000,72.392000,55.940000,...,60.962000,NaN,33.764000,55.166000,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,50.432000,NaN,49.280000,73.058000,66.974000,64.742000,73.580000,55.922000,...,56.534000,NaN,32.594000,51.422000,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,49.766000,NaN,49.658000,72.500000,67.028000,66.200000,75.200000,55.382000,...,52.556000,NaN,30.794000,48.236000,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,48.434000,NaN,49.802000,71.204000,64.850000,65.282000,75.200000,52.790000,...,50.486000,NaN,29.570000,45.500000,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Write a function that efficiently fills in missing values in every column, except for trailing NANs.  

That is: if there's temperature data on either side of a timestamp, it should interpolate through it. But if data stopped being collected, your function should leave nans at the end

### 3. Find cities A and B where city A is warmer than city B in the summer, but also colder than city B in the winter, on average

### 4. For the two cities you found in for problem 4 (there are many possible answers), clean up the data via aggregation or rolling averages and plot a clear visual